<h1>PROJECTS</h1>

<form action="/proyectos" method="POST" enctype="multipart/form-data" >
<input type="text" name="title" id="title" placeholder="title" require>
<input type="file" name="img" id="img">
<input type="text" name="tags" id="tags" placeholder="tags" require>
<input type="text" name="desc" id="desc" placeholder="descripcion" require>
<input type="text" name="url" id="url" placeholder="url" require>
<input type="submit" value="enviar">
</form>

<script>




</script>
